extends layout

block content
  body
    .container-fluid
      h3.text-primary.text-center EVM tools
      .form-group
        label(for='hexcode') Hexcode:
        textarea#hexcode.form-control(rows='2')
        button#target1.btn.btn-default.target Done
        br
        br
        label(for='opcodes') Opcodes:
        .panel.panel-default
        #opcodes.panel-body opcodes Content


block codeJs
   script(src='/OpCodesList.js')
   script(src='/OpCodes.js')
   script(src='/ToOpcodes.js')