extends layout

block content
  body

      #wrap
          div(class="navbar navbar-inverse navbar-fixed-top")
              .container
                  .navbar-header
                      button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                          span.icon-bar
                          span.icon-bar
                          span.icon-bar
                      a.navbar-brand(href="/") EVM tools
                  div(class="collapse navbar-collapse")
                      ul(class="nav navbar-nav")
                          li
                              a(href="/hextoopcodes") HEX to Opcodes
                          li.active
                              a(href="/opcodestohex") Opcodes to HEX

          //- .container
          //-     h1 EVM tools
          //-     p.lead
          //-         | hex to opcodes.

          .container
            br
            textarea#opcodes.form-control(rows='20')
            button#target1.btn.btn-default.target Done
            br
            br
            .panel.panel-default
            #hex.panel-body hex Content

      //- #footer
      //-     .container
      //-         p(class="text-muted credit")
      //-             | link <a href="http://www.google.com">here</a>


block codeJs
   script(src='/OpCodesList.js')
   script(src='/OpCodes.js')
   //- script(src='/ToOpcodes.js')
   script(src='/ToHex.js')

